@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  min-width: 100%;
  background-image: url("../public/Jumbotron.png");
  background-size: cover; /* or contain, or specific dimensions */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tagline {
  min-width: 100%;
  background-image: url("../public/Tagline.png");
  background-size: ; /* or contain, or specific dimensions */
  background-repeat: no-repeat;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
